/*body {font: normal 14px "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;}*/

.wrap {
	width: 1000px;
	margin: 0 auto;
}

.task-list {
	width: 88%;
	min-height: 300px;
	/*box-shadow: 0px 1px 0px 1px #44FF11;
	margin-top: 40px;*/
	padding: 22px 6%;
}

.task-list li {
	font-size: 1.2em;
	padding: 8px 0;
	overflow: hidden;
	display: block;
}

.task-list li span {
	width: 86%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.task-list li .delete-button {
	width: 15px;
	height: auto;
	padding-top: 7px;
	float: left;
	vertical-align: top;
	opacity: 0.5;
	cursor: pointer;
}

.task-list li .delete-button:hover {
	opacity: 0.85;
}

/*.add-new-task {
	margin-top: 20px;
	padding-bottom: 60px;
}*/

.add-new-task input[type='text'] {
	width: 100%;
	/*font-family: normal 1.2em "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;*/
	font-family: normal 1.2em 'Share Tech Mono', Arial, serif; font-weight: 400;
	color: #44FF11;
	box-shadow: 0px 1px 0px 1px #44FF11;
	border: none;
	border-radius: none;
	display: block;
	padding: 12px 6%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus {
	outline: 0;
}

@media all and (max-width: 425px) {
	.wrap {
		width: 90%;
		margin: 0 auto;
	}
}


a {
    color: #44FF11;
    text-decoration: none;
}

media="screen"{
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #44FF11;
    cursor: default;
    background-color: #111;
    border: 1px solid #44FF11;
    border-bottom-color: transparent;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

}
